#bio {
  margin-bottom: 40px;
  height: 1300px;
  padding-top: 60px;
}

#bio .title-bar {
  margin-top: 70px;
}

#bio .title-bar:first-of-type {
  margin-top: 0;
}

#skills-container {
  background-color: #25232E;
  padding-top: 60px;
}
