.experience-square {
  height: 58px;
  border-radius: 2px;
  width:58px;
}

.square-parent {
  padding: 0 0px;
}

/*.experience-square:nth-of-type(2) {
  margin-left: 70px !important;

}*/

/*.experience-item:nth-child(2)  {
  color: #A0DCFF !important;

}*/

/*.experience-item:first-child {
  background-color: #A0DCFF;
}*/

.experience-item h3{
  margin-top: 0;
  font-size: 1.2em;
}

#experience .row {
  margin-top: 40px;
}

#experience .col-xs-10 {
  padding-left: 0;
}
/*.experience-company {
  margin-right: 20px;
}*/

/*.experience-item {
  color: red;
  background-color: red;
}*/

/*.experience-item {
  border: 1px solid white;
}*/

.experience-title, .experience-company {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

/*media queries*/

@media only screen and (max-width: 667px) {

#experience .row:nth-of-type(2) {
  margin-top: 0;
}

 }
