#heading {
  background: url('../../img/portfoliomain.png') no-repeat;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 600px;
  color: white;
  font-family: 'Roboto' !important;
}

#heading h1 {
  margin-top: 260px;
  font-size: 5em;
}

#heading p {
  font-size: 1.2em;
  text-align: left;
  padding: 0 3% 0 5%;
}

#heading-button .col-md-5 {
  height: 50px;
  line-height: 50px;
  width: 200px;
  border: 2px solid white;
  margin-top: 20px;
}

#heading-button {
  padding-left: 300px;
}

#heading-mobile-text {
  display: none;
}

/*media queries*/

@media only screen and (max-width: 667px) {
  #heading-text, #heading-button {
    display: none;
  }

  #heading {
    height: 200px;

  }

  #heading-mobile-text {
    display: block;
    padding-top: 20px;
    margin-left: 20%;
  }

  #heading-mobile-text h2 {
    font-size: 4em;
  }

  #heading-mobile-text h2:first-of-type {
    margin-top: 0;
  }
}
