#contact {
  height: 600px;
  background-color: rgb(30,30,40)
;
  padding-top: 60px;
}
/*previous bgcolor #25232E*/

.contact-item {
  border: 2px solid #A0DCFF;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.contact-item a {

}

.contact-item h3 {
  color: #A0DCFF;
}

.contact-item p {
  font-size: 1.3em;
  color: #D1D1D1;
}
